/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'DM Sans', sans-serif;
  }
  

.bg-gradient-invest {
  background: linear-gradient(270deg, #359A35 0%, #123412 100%);
}

.logo {
  background: linear-gradient(90deg, #000000 0%, #359A35 69.5%);
}

.bg-gradient-green {
  background: linear-gradient(270deg, #359A35 0%, #123412 100%);
}




.bg-footer-gradient {
  background: linear-gradient(90deg, #359A35 0%, #123412 59.3%);
}

background: linear-gradient(90deg, #359A35 0%, #123412 59.3%);


.text-gradient-invest {
  background: linear-gradient(270deg, #359A35 0%, #123412 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
